<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Health Helper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
            <form  action="/#services" method="GET">
                <div class="col-lg-5 col-sm-6">
                    <br>
                    <h2>Current Status</h2>
                    <table class="table table-hover">
                    <tr><th style="text-align:center">CCN</th><th style="text-align:center">Agency name</th>
                    <th style="text-align:center">Certified years</th>
                    <tr><td align="center">{{ccn}}</td><td align="center">{{query['provider']}}</td>
                    <td align="center">{{query['certify_yrs']}}</td>
                    </table>
                    <br>
                    <label for="ccn">CCN:</label>
                    <input type="text" id="ccn" name='ccn' value={{ccn}} placeholder={{ccn}}><br>
                    <label for="rn_cnt">Registered nurse:</label>
                    <input type="text" id="rn_cnt" name='rn_cnt' value={{query['rn_cnt']}} placeholder={{query['rn_cnt']}}><br>
                    <p>The averaged count of registered nurses over four quarters of a year</p>
                    <label for="phys_cnt">Physical therapist:</label>
                    <input type="text" id="phys_cnt" name='phys_cnt' value={{query['phys_cnt']}} placeholder={{query['phys_cnt']}}><br>
                    <label for="pneu_shot">Pneumonia shot:</label>
                    <input type="text" id="pneu_shot" name='pneu_shot' value={{query['pneu_shot']}} placeholder={{query['pneu_shot']}}><br>
                    <p>The pneumonia shots provided by the agency includes the recommended practice in {{query['pneu_shot']}} % of the time.</p>
                    <label for="flu_shot">Flu shot:</label>
                    <input type="text" id="flu_shot" name='flu_shot' value={{query['flu_shot']}} placeholder={{query['flu_shot']}}><br>
                    <label for="timely">Timely check:</label>
                    <input type="text" id="timely" name='timely' value={{query['timely']}} placeholder={{query['timely']}}><br>
                    <label for="drug_edu">Drug education:</label>
                    <input type="text" id="drug_edu" name='drug_edu' value={{query['drug_edu']}} placeholder={{query['drug_edu']}}><br>
                    <label for="depr_ck">Depression check:</label>
                    <input type="text" id="depr_ck" name='depr_ck' value={{query['depr_ck']}} placeholder={{query['depr_ck']}}><br>
                    <button type="submit" class="btn btn-default btn-lg">Go back to Lookup!</button>
                    <br><br><br><br><br>
                </div>
            </form>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>  
                    <h2>About the Predictors</h2>
                    <p class="lead">The top 10 aspects are listed in terms of the importance of predicting the agency's readmission. The number of registered nurses and physical therapists is reported annually. The quality measures tell you how often an agency gave the recommended care like checking patients for vaccine shots when they start getting care. An agency rate of 88% for that measure means that the agency’s process of caring for patients included the recommended practice in 88% of the time.</p>
                    <h2>Readmission performance:</h2>
                    <p class="lead">The predicted probability of <b>good</b> readmission performance for this agency is <b>{{class_proba[1]}}</b>. The agency's actual readmision performance is <b>good</b>. Keep the good status! 
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
