<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Health Helper</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Home Health Helper</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
            <form  action="/predict#services" method="GET">
                <div class="col-lg-5 col-sm-6">
                    <h2>New Status</h2>
                    <table class="table table-hover">
                    <tr><th style="text-align:center">CCN</th><th style="text-align:center">Agency name</th>
                    <th style="text-align:center">Certified years</th>
                    <tr><td align="center">{{ccn}}</td><td align="center">{{query['provider']}}</td>
                    <td align="center">{{query['certify_yrs']}}</td>
                    </table>
                    <label for="ccn">CCN:</label>
                    <input type="text" id="ccn" name='ccn' value={{ccn}} placeholder={{ccn}}><br>
                    <p>The averaged count of registered nurses and physical therapists over four quarters of a year</p>
                    <label for="rn_cnt">Registered nurse:</label>
                    <input type="text" id="rn_cnt" name='rn_cnt' value={{x_query['rn_cnt']}} placeholder={{x_query['rn_cnt']}}><br>
                    <label for="phys_cnt">Physical therapist:</label>
                    <input type="text" id="phys_cnt" name='phys_cnt' value={{x_query['phys_cnt']}} placeholder={{x_query['phys_cnt']}}><br>
                    <p>The following measures show how often the agency gave these services. For example, a rate of {{x_query['flu_shot']}}% for the flu shot means the agency's flu shot service includes the recommended practice in {{x_query['flu_shot']}}% of the time.</p>
                    <label for="pneu_shot">Pneumonia shot:</label>
                    <input type="text" id="pneu_shot" name='pneu_shot' value={{x_query['pneu_shot']}} placeholder={{x_query['pneu_shot']}}><br>
                    <label for="flu_shot">Flu shot:</label>
                    <input type="text" id="flu_shot" name='flu_shot' value={{x_query['flu_shot']}} placeholder={{x_query['flu_shot']}}><br>
                    <label for="timely">Timely check:</label>
                    <input type="text" id="timely" name='timely' value={{x_query['timely']}} placeholder={{x_query['timely']}}><br>
                    <label for="drug_edu">Drug education:</label>
                    <input type="text" id="drug_edu" name='drug_edu' value={{x_query['drug_edu']}} placeholder={{x_query['drug_edu']}}><br>
                    <label for="depr_ck">Depression check:</label>
                    <input type="text" id="depr_ck" name='depr_ck' value={{x_query['depr_ck']}} placeholder={{x_query['depr_ck']}}><br>
                    <button type="submit" class="btn btn-default btn-lg">Predict!</button><br>
                </div>
            </form>
                <div class="col-lg-6 col-lg-offset-1 col-sm-6">
                    <h2>Readmission Performance:</h2>
                    <table class="table table-hover">
                    <tr><th style="text-align:center">Bad</th><th style="text-align:center">Good</th>
                    <tr><td align="center">{{class_proba[0]}}</td><td align="center">{{class_proba[1]}}</td>
                    </table>
                    <img class="img-responsive" src="../static/tmp/{{bar_proba}}" alt="">
                </div>
            </div>
            <div class="row">
            <form action="/#services" method="GET">
                <div class="col-lg-5 col-sm-6">
                    <button type="submit" class="btn btn-default btn-lg">Go back to Lookup!</button><br>
                </div>
            </form>
            </div>

        </div>
        <!-- /.container -->

    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
